[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
alembic = "*"

[scripts]
dev = "fastapi dev main.py"
run = "fastapi run main.py"
migrate-up = "alembic upgrade"
migrate-down = "alembic downgrade"
migrate-gen = "alembic revision --autogenerate"

[requires]
python_version = "3.12"
